<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="running-journal"
         connectionString="Server=(localdb)\v11.0;Database=RunningJournal;Integrated Security=true;Pooling=false" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="Simple.Data" value="Error" />
    </switches>
  </system.diagnostics>
</configuration>